<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtJdBd-_649HFlvZ_JU69p_kwQS2MWvD0</string>
	<key>GCM_SENDER_ID</key>
	<string>404732386337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.decider</string>
	<key>PROJECT_ID</key>
	<string>decider-1f497</string>
	<key>STORAGE_BUCKET</key>
	<string>decider-1f497.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404732386337:ios:0bf47207f9eab9ab75d760</string>
</dict>
</plist>